#root{
    width:100%;
    height:100vh;
}

#page{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--green4);
    height:100%;

}

#notfound-div{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

#notfound{
    height: 50%;
    display: block;
}

/* ExpenseTracker */

:root{
    --green1: #82db23;
    --green2:#c0ff7c;
    --green3:#DFFFBD;
    --green4:#F8FFF1 ;
    --register:#F74D4D;
    --login:#58B2FD;
    --error:#FFE9E8;
    --success:#CCE8FF;
    }
    
    *{
        margin: 0;
        padding : 0;
        box-sizing:border-box;
    }
    
    body{
        width : 100%;
        height:100vh;
        font-family: sans-serif;
    }
    
    #whole-wrapper{
        width : 80%;
        padding-top:8vh;
    }
    
    #input-button,input{
        height : 25px;
        border-radius: 5px;
    }
    
    #input-button{
        width:18%;
        background-color: var(--green1);
        border: none;
        cursor:pointer;
        color:white;
        height:30px;
    }
    
    #input-button:active{
        background-color:var(--green2);
    }
    
    input{
        width:38%;
        padding:8px ;
        height:30px;
        border:0.1px solid black;
    
    }
    
    #input-wrap{
        display:flex;
        justify-content: space-between;
        width:100%;
    }
    
    table{
        width:100%;
        margin-top: 8vh;
        font-size:15px;
        border-collapse:collapse;
        border:1px solid black;
        /* table-layout: fixed; */
        word-wrap:break-word;
    
    }
    
    th,td{
        padding:8px;
        border:1px solid black;
        text-align: center;
    }
    
    .serial-cell{
        width:5%;
    }
    .delete-cell{
        width:15%;
    }
    td{
        width:40% ;
    }
    
    header{
        width:100%;
        padding: 0px 8% ;
        height: 12vh;
        background-image: linear-gradient(135deg,var(--green1),var(--green2) );
        font-weight:500;
        box-shadow: grey 0px 0px 10px 0px;
        display:flex;
        align-items:center;
        justify-content: space-between;
    
    }

    #expense-tracker-heading{
        font-size:45px;
        color:var(--green4);
        font-family: Jost,sans-serif;
        font-weight:300;
    }
    
    .delete{
        height:20px;
        width:100px;
        background-color: rgb(224, 75, 75);
        cursor:pointer;
        border:none;
        border-radius:5px;
        color:white;
        margin:auto;
        display:block;
        content:"rencnre";
    }

    /* Auth */

    .auth-wrap{
        display:grid;
        place-items:center;
        height:100%;
    }
    
    .box{
        width:300px;
        padding:25px;
        background-color:white;
        border-radius:8px;
        box-shadow:rgb(132, 129, 129) 0px 0px 10px 2px;
        
    }
    
    .expense-tracker-p{
        font-family:Jost,sans-serif;
        font-weight: 300;
        color:#74BE23;
        font-size:28px;
        position:absolute;
        top:20px;
        left:20px
    
    }
    
    #auth-form{
        display:flex;
        flex-direction:column;
    }

    .auth-input{
        height:45px;
        border-color:rgb(179, 169, 169);
    }

    .auth-input,#button-span{
        width:100%;
        margin:4px 0;
    }
    
    .button-span{
        display:flex;
        justify-content: space-between;
        margin-top: 10px;

    }
    
    .auth-buttons{
        width:48%;
        height:40px;
        border:none;
        border-radius: 8px;
        background-color:#74BE23;
        color:white;
        font-size:16px;
        margin:auto;
    }

    .auth-buttons:hover{
        cursor:pointer;
    }

    .auth-buttons:active{
        background-color: var(--green2);
    }

    .message{
        padding:0px 8px;
        margin:2px;
        font-size:12px;
        border-radius: 5px;
        /* height:22px; */
        line-height:18px;
    }

    .error-p{
        background-color: var(--error);
        color:rgb(216, 70, 70);

    }

    .success-p{
        background-color: var(--success);
        color:#1AA1F3;
    }

    .logo{
        position:relative;
        top:2px;
        right:3px;
    }

    .register-login{
        text-align:center;
        margin-bottom:10px;
        font-size:25px;
    }

    #login-p{
        color:var(--login);
    }

    #register-p{
        color:var(--register);
    }

    #login{
        background-color:var(--login);
    }

    #signup{
        background-color: var(--register);
    }

    #already{
        font-size:14px;
        margin-top:15px;
    }

    .cross{
        display: none;
        position:relative;
        top:2px;
    }
    .delete-span{
        display: block;
    }

    #user{
        color:rgb(51, 51, 51);
        font-family:sans-serif;
        font-size:25px;
        padding:6px 8px 6px 12px;
        border-radius:5px;
        cursor:pointer;

    }

    #settings-icon{
        position:relative;
        top:5px;
        left:3px;
        margin:0px 5px;
    }

    .settings-options{
        display:inline-block;
        padding:8px;
        /* border-bottom:0.1px solid black; */
        cursor: pointer;
    }

    #hamburger{
        display:flex;
        flex-direction:column;
        position:absolute;
        top:10vh;
        right:8%;
        background-color: #808B96 ;
        color:white;
        border-radius:5px;
        padding:0px;
        font-size: 12px;
        box-shadow: rgb(95, 95, 95) -4px 4px 10px 0px;
    }

    @media(max-width:700px){
        .cross{
            display: block;
        }
        .delete-span{
            display: none;
        }
        .delete{
            width:20px;
        }
    }

    @media(max-width:450px){

        #expense-tracker-heading{
        font-size:30px;
        }
        #user{
        font-size:25px;
        }
        header{
            height:8vh;
        }
        table{
            font-size: 14px;
            margin-top: 32px;
        }
        td{
            padding:4px;

        }
        #whole-wrapper{
            padding-top:32px;
            width:85vw;
        }
        .serial-cell{
            width:5%;
        }
    }

   


    
    