#root{
    width:100%;
    height:100vh;
}

#page{
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    height:100%;

}

#notfound-div{
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

#notfound{
    height: 50%;
    display: block;
}

a{
    text-decoration: none;
}

/* ExpenseTracker */

:root{
    --green1: #82db23;
    --green2:#c0ff7c;
    --green3:#DFFFBD;
    --register:#F74D4D;
    --login:#58B2FD;
    --error:#FFE9E8;
    --success:#CCE8FF;
    }
    
    *{
        margin: 0;
        padding : 0;
        box-sizing:border-box;
    }
    
    body{
        width : 100%;
        height:100vh;
        font-family: sans-serif;
    }
    
    #whole-wrapper{
        width : 80%;
        padding-top:8vh;
    }
    
    #enter,input{
        border-radius: 5px;
    }
    
    #enter{
        width:18%;
        background-color: var(--green1);
        border: none;
        cursor:pointer;
        color:white;
        height:30px;
    }
    
    #enter:active{
        background-color:var(--green2);
    }
    
    input{
        width:30%;
        padding:8px ;
        height:30px;
        border:0.5px solid black;
    
    }

    #upload-wrap{
        width:18%;
        display:flex;
        flex-direction:column;

    }

    #image-preview{
        background-color: rgb(231, 228, 228);
        border-radius: 5px;
        padding:5px ;
        font-size:14px;
        overflow: scroll;
        position:relative;
        width:100%;
    }

    /* #image-preview::before{
        content:"a";
        position:absolute;
        width:inherit;
        background-image: linear-gradient(270deg, rgba(256 , 256 , 256 , 0.9)  , transparent 40%);
    } */

    #image-preview::-webkit-scrollbar{
        display:none;
    }

    #image-input{
        display: none;
    }

    #upload-image{
        background-color:#808B96;
        line-height:30px;
        padding:0px 8px;
        color:white;
        border-radius:5px;
        cursor: pointer;
        font-size: 14px;
        text-align:center;
        margin-bottom: 4px;
        height:30px;
    }
    
    #input-wrap{
        display:flex;
        justify-content: space-between;
        width:100%;
    }

    #table-wrapper{
        margin-top: 8vh;
        box-shadow: grey 0 0 10px 0px;
        border-radius : 10px ;
        overflow: hidden;
    }

    table{
        width:100%;
        font-size:0.9rem;
        border-collapse:collapse;
        word-wrap:break-word;
        border : 0px solid white; 
    }
    
    th,td{
        padding:12px;
        text-align: center;
        text-align : left;
    }

    th{
        background-color: var(--green2) ;
    }
    
    td{
        width:38% ;
    }

    .tr-data:not(:last-of-type){
        border-bottom: 1px solid #d7d5d5;
    }
    .serial-cell{
        width:4%;
    }
    .last-cell{
        width:20%;
    }

    .last-cell-wrap{
        display: flex;
    }
    
    header{
        width:100%;
        padding: 0px 8% ;
        height: 12vh;
        background-image: linear-gradient(135deg,var(--green1),var(--green2) );
        font-weight:500;
        box-shadow: grey 0px 0px 10px 0px;
        display:flex;
        align-items:center;
        justify-content: space-between;
    
    }

    #expense-tracker-heading{
        font-size:45px;
        color:white;
        font-family: Jost,sans-serif;
        font-weight:300;
    }
    
    .delete-button,.view-image-button{
        height:20px;
        width:45%;
        background-color: rgb(224, 75, 75);
        cursor:pointer;
        border:none;
        border-radius:5px;
        color:white;
        margin:auto;
        display:flex;
        justify-content: center;
        line-height: 20px;
        font-size:12px;
    }

    .delete-button{
        background-color: rgb(224, 75, 75);
    }

    .view-image-button{
        background-color: #808B96;
    }

    /* Auth */

    .auth-wrap{
        display:grid;
        place-items:center;
        height:100%;
    }
    
    .box{
        width:300px;
        padding:25px;
        background-color:white;
        border-radius:8px;
        box-shadow:rgb(132, 129, 129) 0px 0px 10px 2px;
        
    }
    
    .expense-tracker-p{
        font-family:Jost,sans-serif;
        font-weight: 300;
        color:#74BE23;
        font-size:28px;
        position:absolute;
        top:20px;
        left:20px
    
    }
    
    #auth-form{
        display:flex;
        flex-direction:column;
    }

    .auth-input{
        height:45px;
        border-color:rgb(179, 169, 169);
    }

    .auth-input,#button-span{
        width:100%;
        margin:4px 0;
    }
    
    .button-span{
        display:flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    
    .auth-buttons{
        width:48%;
        height:40px;
        border:none;
        border-radius: 8px;
        background-color:#74BE23;
        color:white;
        font-size:16px;
        margin:auto;
    }

    .auth-buttons:hover{
        cursor:pointer;
    }

    .auth-buttons:active{
        background-color: var(--green2);
    }

    .message{
        padding:0px 8px;
        margin:2px;
        font-size:12px;
        border-radius: 5px;
        /* height:22px; */
        line-height:18px;
    }

    .error-p{
        background-color: var(--error);
        color:rgb(216, 70, 70);

    }

    .success-p{
        background-color: var(--success);
        color:#1AA1F3;
    }

    .logo{
        position:relative;
        top:2px;
        right:3px;
    }

    .register-login{
        text-align:center;
        margin-bottom:10px;
        font-size:25px;
    }

    #login-p{
        color:var(--login);
    }

    #register-p{
        color:var(--register);
    }

    #login{
        background-color:var(--login);
    }

    #signup{
        background-color: var(--register);
    }

    #already{
        font-size:14px;
        margin-top:15px;
    }

    .cross{
        display: none;
        position:relative;
        top:2px;
    }
    .delete-span{
        display: block;
    }

    #user{
        color:rgb(51, 51, 51);
        font-family:sans-serif;
        font-size:25px;
        padding:6px 8px 6px 12px;
        border-radius:5px;
        cursor:pointer;

    }

    #settings-icon{
        position:relative;
        top:5px;
        left:3px;
        margin:0px 5px;
    }

    .settings-options{
        display:inline-block;
        padding:8px;
        /* border-bottom:0.1px solid black; */
        cursor: pointer;
    }

    #hamburger{
        display:flex;
        flex-direction:column;
        position:absolute;
        top:10vh;
        right:8%;
        background-color: #808B96 ;
        color:white;
        border-radius:5px;
        padding:0px;
        font-size: 12px;
        box-shadow: rgb(95, 95, 95) -4px 4px 10px 0px;
    }

    @media(max-width:700px){
        .cross{
            display: block;
        }
        .delete-span{
            display: none;
        }
        .delete-button,.view-image-button{
            width:20px;
        }
    }

    @media(max-width:450px){

        #expense-tracker-heading{
        font-size:30px;
        }
        #user{
        font-size:25px;
        }
        header{
            height:8vh;
        }
        table{
            font-size: 14px;
            margin-top: 32px;
        }
        td{
            padding:4px;

        }
        #whole-wrapper{
            padding-top:32px;
            width:85vw;
        }
        .serial-cell{
            width:5%;
        }
    }

   


    
    