:root{
--green1: #74BE23;
--green2:#B2FF5E;
--green3:#DFFFBD;
}

*{
    margin: 0;
    padding : 0;
    box-sizing:border-box;
}

body{
    width : 100%;
    height:100vh;
    font-family: sans-serif;
    
}

#root{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}

#whole-wrapper{
    width : 80%;
    padding-top:8vh;
}

#input-button,input{
    height : 25px;
    border-radius: 5px;
}

#input-button{
    width:18%;
    background-color: var(--green1);
    border: none;
    cursor:pointer;
    color:white;
}

#input-button:active{
    background-color:var(--green2);
}

input{
    width:38%;
    padding:8px ;

}

#input-wrap{
    display:flex;
    justify-content: space-between;
    width:100%;
}

table{
    width:100%;
    margin-top: 8vh;
    font-size:15px;
    border-collapse:collapse;
    border:1px solid black;

}

th,td{
    padding:8px;
    border:1px solid black;
}

@font-face{
    font-family:expense-tracker;
    src:url(./public/fonts/expense-tracker-font.ttf)
}

@font-face{
    font-family:ChampagneLimousines;
    src:url(./public/fonts/Champagne&LimousinesBold.ttf)

}
@font-face{
    font-family:ChampagneLimousinesBold;
    src:url(./public/fonts/Champagne&Limousines.ttf)
}

header{
    width:100%;
    padding:30px 8% 30px;
    font-size:45px;
    background-image: linear-gradient(135deg,var(--green1),var(--green2) );
    color:white;
    font-weight:500;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  */
    font-family:ChampagneLimousines;

}

.delete{
    height:20px;
    width:40px;
    background-color: red;
}

